$primary: #006CFF;

// 灰色系
$lighterkgray: #999;
$lightgray: #F0F4F9;
$gray: #F2F3FB;
$darkgray: #F6F8FB;
$darkergray: #F2F1F6;

$black: #ADADAD;
$darkblack:#4E4E4E;

// 蓝色系
$lighterblue: #027AFF;
$lightblue: #0067FF;
$blue: #162476;
$darkblue: #222F7A;